@use 'palette';

:host {
  .prtfl-nav-item {
    display: flex;
    align-items: center;
    gap: 8px;

    flex: 1 1 auto;

    background-color: palette.$details;

    padding: 6px;
    border-radius: 9999px;

    width: 100%;

    simple-text {
      padding-right: 12px;
    }

    .nav-icon {
      display: flex;
      align-items: center;

      padding: 8px;
      border-radius: 9999px;

      &::ng-deep ng-icon svg {
        color: palette.$gray;
      }
    }

    &.active {
      .nav-icon {
        background-color: palette.$light_red;

        &::ng-deep ng-icon svg {
          color: white;
        }
      }
    }
  }
}