@use '../../../assets/styles/palette';

:host {
  display: grid;
  grid-template-areas:
    "prtfl-icon prtfl-medium-subtitle"
    "prtfl-icon prtfl-medium-text"
  ;
  gap: 8px;
  column-gap: 20px;

  width: fit-content;

  a {
    text-decoration: none;
  }
}

:host ::ng-deep ng-icon svg {
  color: palette.$light_red
}