<div class="prtfl-me">
  <photo-card image="./profile_photo.png" />
  <simple-title>Mikael Stanley</simple-title>
  <div class="prtfl-badges">
    <badge>Web Developer</badge>
    <badge>Mobile Developer</badge>
  </div>
</div>
<div class="prtfl-contact">
  <contact-item
    type="email"
    title="E-MAIL"
    value="mikael.stl05@gmail.com"
  />
  <contact-item
    type="phone"
    title="TELEFONE"
    value="(83) 98608-4258"
  />
  <contact-item
    type="github"
    title="GITHUB"
    value="github.com/mikaelstl"
  />
</div>
<div class="prtfl-socials">
  <icon-badge
    type="instagram"
  />
</div>