@use 'palette';

:host {
  grid-area: prtfl-abstract;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;

  background-color: palette.$items;

  width: fit-content;
  height: fit-content;

  border-radius: 12px;

  overflow: auto;

  .prtfl-me {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    padding-bottom: 30px;

    border-bottom: 2px solid palette.$details;

    height: fit-content;

    .prtfl-badges {
      grid-area: prtfl-profile-badges;

      display: flex;
      gap: 8px;
    }
  }

  .prtfl-contact {
    grid-area: prtfl-contact;

    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100%;

    padding-bottom: 60px;
    border-bottom: 2px solid palette.$details;
  }

  .prtfl-socials {
    grid-area: prtfl-socials;

    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
  }
}

@media (max-width: 970px) {
  :host {
    width: 100%;
    height: fit-content;

    padding: 10px;

    .prtfl-me {
      position: relative;

      display: grid;
      grid-template-areas:
        "prtfl-photo prtfl-title"
        "prtfl-photo prtfl-profile-badges"
      ;
      grid-template-columns: min-content auto;
      
      row-gap: 0px;

      align-items: center;

      height: fit-content;

      padding-bottom: 10px;

      .show-contact-btn {
        position: absolute;

        display: block;

        padding: 2px;

        top: 0px;
        right: 0px;

        margin: 0;

        background: none;

        &::ng-deep ng-icon svg {
          color: white;
        }
      }
    }

    .prtfl-contact {
      padding-bottom: 30px;
    }
  }
}