@use '../../../assets/styles/palette';

:host {
  display: grid;
  gap: 20px;
  
  padding: 14px;

  width: 280px;

  border: 1px solid palette.$details;
  border-radius: 12px;

  background-color: palette.$items;

  .project-badges {
    display: flex;
    gap: 16px;
  }
}