@use 'palette';

:host {
  display: grid;
  gap: 10px;

  .title-detail {
    background-color: palette.$light_red;

    width: 64px;
    height: 4px;

    border-radius: 9999px;
  }

  .prtfl-section-title {
    color: white;
    font-weight: 600;
  }
}