:host {
  display: flex;
  flex-direction: column;

  gap: 40px;

  height: fit-content;

  .about-infos {
    display: grid;
    gap: 20px;
  }

  .prtfl-specialties {
    display: grid;
    gap: 12px;

    height: fit-content;

    .cards {
      display: flex;
      gap: 10px;

      height: 100%;
    }
  }
}

@media (max-width: 970px) {
  :host {
    gap: 20px;

    width: 100%;
    height: fit-content;

    .prtfl-specialties {
      display: grid;
      gap: 12px;

      height: fit-content;

      .cards {
        display: grid;
        gap: 10px;

        height: 100%;
      }
    }
  }
}